<div class="row filter-container ml-1">
        <div class="col-md-2 col-sm-0"></div>
        <div class="col-md-8 col-sm-12">

            {% csrf_token %}

            <i class="fa fa-search fa-2x text-light" aria-hidden="true"></i>
            <input autofocus class="search w-50" type="text" name="search" id="search" placeholder=" Search here for blogs" autocomplete="off" >
<!--            <button class="submit btn border btn-sm rounded-pill m-0" type="search">-->
<!--                {% if posts %}-->
<!--                search-->
<!--                {% else %}-->
<!--                reset-->
<!--                {% endif %}-->
<!--            </button>-->



        </div>
        <div class="col-md-2 col-sm-0"></div>
</div>